################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Fgc.MessageContracts/Fgc.MessageContracts.csproj
